.hide{
	display:none;
}

.show-div{
	display:block;
}

.form-control{
    text-transform: uppercase !important;
}

.table .btn-sm {
	margin-right: 0.07vw;
	float: left;
}

.table .btn-sm a:hover {
	color: #fff !important;
}
